fastapi
uvicorn[standard]
sqlalchemy
pydantic
apscheduler
python-telegram-bot
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
beautifulsoup4
yagmail
psycopg2-binary
python-dotenv
